<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
  <head>
    <meta http-equiv=Content-Type content=text/html; charset=UTF-8 />
    <title>A&F Beauty Studio</title>
    <meta name=viewport content=width=device-width, initial-scale=1.0/>
  </head>
  <body>
    <p>Hola ${name}, Bienvenido a A&F Beauty Studio</p>
    
    <p>Usted se ha registrado satisfactoriamente.</p>
     
     <h4>A continuación le recordamos sus datos de acceso a la aplicacón:</h4>
     <h4>username: ${username}</h4>
     <h4>password: ${password}</h4>
     
     <p>Atentamente,\n el equipo de soporte A&F Beauty Studio</p>
  </body>

</html>
